doctype html
html(lang="kr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title short.ly
  body
    h1 short.ly
    h2 긴 URL을 단축 해보세요!
    form
      label(for="url-input") Enter a URL:
      input(type="text" id="url-input" name="url-input" placeholder="https://단축할 긴 주소를 입력하세요")
      button(type="button" id="convert-btn") Convert URL
      p Converted URL: #[span#converted-url]

    script(
      const inputField = document.querySelector('#url-input')
      const convertBtn = document.querySelector('#convert-btn')
      const convertedUrlSpan = document.querySelector('#converted-url')

      convertBtn.addEventListener('click', (e) => {
        console.log('click!!!')
        const url = inputField.value
        const convertedUrl = encodeURI(url)
        convertedUrlSpan.textContent = convertedUrl
      })
    )